body{
    background-color: beige;
}

#container{
    background-color: white;
    border-radius: 15px;
    margin: 5vw;
}

img{
    width: 50vw;
    border-radius: 15px;
    margin-left: 20vw;
    margin-top: 2vh;
    /* padding-top: 3vh; */
}